<div class="jumbotron">
    <h1>PEE</h1>
    <p class="lead">MANTENIMIENTOS.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Notas</h2>
        <p>Mantenimiento de notas</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Ver Mas &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Cursos</h2>
        <p>Mantenimiento de cursos</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Ver Mas &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Estudiantes</h2>
        <p>Mantenimeinto de Estudiantes</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Ver Mas &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Docentes</h2>
        <p>Matenimiento de Docentes.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Ver Mas &raquo;</a></p>
    </div>
</div>
